<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hc21cloud.umps.mapper.UmpsUserMapper">

    <resultMap type="UmpsUser" id="BaseResult">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="nickname" column="nickname"/>
        <result property="avatar" column="avatar"/>
        <result property="email" column="email"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="BaseColumns">
        SELECT id, username, password, nickname, avatar, email, status, create_by, create_time, update_by, update_time, remark FROM hc_umps_user
    </sql>

    <select id="selectList" resultMap="BaseResult">
        <include refid="BaseColumns"/>
        <where>
            1 = 1
            <if test="id != null ">
                AND id = #{id}
            </if>
            <if test="username != null  and username != '' ">
                AND username = #{username}
            </if>
            <if test="password != null  and password != '' ">
                AND password = #{password}
            </if>
            <if test="nickname != null  and nickname != '' ">
                AND nickname = #{nickname}
            </if>
            <if test="avatar != null  and avatar != '' ">
                AND avatar = #{avatar}
            </if>
            <if test="email != null  and email != '' ">
                AND email = #{email}
            </if>
            <if test="status != null ">
                AND status = #{status}
            </if>
            <if test="createBy != null ">
                AND create_by = #{createBy}
            </if>
            <if test="createTime != null ">
                AND create_time = #{createTime}
            </if>
            <if test="updateBy != null ">
                AND update_by = #{updateBy}
            </if>
            <if test="updateTime != null ">
                AND update_time = #{updateTime}
            </if>
            <if test="remark != null  and remark != '' ">
                AND remark = #{remark}
            </if>
        </where>
    </select>

    <select id="selectById" resultMap="BaseResult">
        <include refid="BaseColumns"/>
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="UmpsUser">
        INSERT INTO hc_umps_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  ">
                id,
            </if>
            <if test="username != null  and username != ''  ">
                username,
            </if>
            <if test="password != null  and password != ''  ">
                password,
            </if>
            <if test="nickname != null  and nickname != ''  ">
                nickname,
            </if>
            <if test="avatar != null  and avatar != ''  ">
                avatar,
            </if>
            <if test="email != null  and email != ''  ">
                email,
            </if>
            <if test="status != null  ">
                status,
            </if>
            <if test="createBy != null  ">
                create_by,
            </if>
            <if test="remark != null  and remark != ''  ">
                remark,
            </if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  ">
                #{id},
            </if>
            <if test="username != null  and username != ''  ">
                #{username},
            </if>
            <if test="password != null  and password != ''  ">
                #{password},
            </if>
            <if test="nickname != null  and nickname != ''  ">
                #{nickname},
            </if>
            <if test="avatar != null  and avatar != ''  ">
                #{avatar},
            </if>
            <if test="email != null  and email != ''  ">
                #{email},
            </if>
            <if test="status != null  ">
                #{status},
            </if>
            <if test="createBy != null  ">
                #{createBy},
            </if>
            <if test="remark != null  and remark != ''  ">
                #{remark},
            </if>
            sysdate()
        </trim>
    </insert>

    <update id="update" parameterType="UmpsUser">
        UPDATE hc_umps_user
        <set>
            <if test="username != null  and username != ''  ">
                username = #{username},
            </if>
            <if test="password != null  and password != ''  ">
                password = #{password},
            </if>
            <if test="nickname != null  and nickname != ''  ">
                nickname = #{nickname},
            </if>
            <if test="avatar != null  and avatar != ''  ">
                avatar = #{avatar},
            </if>
            <if test="email != null  and email != ''  ">
                email = #{email},
            </if>
            <if test="status != null  ">
                status = #{status},
            </if>
            <if test="updateBy != null  ">
                update_by = #{updateBy},
            </if>
            <if test="remark != null  and remark != ''  ">
                remark = #{remark},
            </if>
            update_time = sysdate()
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM hc_umps_user WHERE id = #{id}
    </delete>

</mapper>